.header-container {
    width: 280px;
    height: 30px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 12px;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;

    &.light-mode {
        // background-color: #42f5c8 !important;
        border: 1px solid rgb(227, 222, 222);
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(36,9,121,1) 0%, rgba(169,0,255,1) 100%);
    }
    
    &.dark-mode {
        background-color: #181818;
    }
}