.message-container {
  clear: both;
  position: relative;
  color: #353333;
  float: right;
  margin-top: 10px;
  max-width: 80%;
  min-width: 10%;
  height: auto;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 20px;
  margin: 24px 14px 0 8px;
  padding: 6px 8px;
  word-wrap: break-word;

  &.light-mode {
    background-color: 'white';
  }

  &.dark-mode {
      background-color: #181818;
      color: white;
      border: 1px solid #8b8888;
  }

  p {
    text-align: left;
    margin: 0;
    font-size: 13px;
    padding: 8px 6px;
    line-height: 1.4;
  }

  .user {
    position: absolute;
    top: -23px;
    right: 0;
    font-size: 9px;
    color: #686464;

    &.dark-mode {
        color: white;
    }
  }

  &.user {
    float: right;
    border-top-right-radius: 5px;
  }

  &.bot {
    float: left;
    border-top-left-radius: 5px;
    margin-top: 36px;
    margin-left: 20px;
  }

  .name {
    display: flex;
    position: absolute;
    top: -24px;
    left: 0;
    .image {
      margin-right: 6px;
      background-color: #ffffff;
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 2px;
    }
    .bot-name {
      margin-top: 5px;
      font-size: 10px;
    }
  }
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 32px 0;
  margin: 0;
  overflow: hidden;
  width: 100%;

  .dot-pulse {
    position: relative;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    box-shadow: 9999px 0 0 -5px;
    animation: dot-pulse 1.5s infinite linear;
    animation-delay: 0.25s;
  }
  .dot-pulse::before,
  .dot-pulse::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
  }
  .dot-pulse::before {
    box-shadow: 9984px 0 0 -5px;
    animation: dot-pulse-before 1.5s infinite linear;
    animation-delay: 0s;
  }
  .dot-pulse::after {
    box-shadow: 10014px 0 0 -5px;
    animation: dot-pulse-after 1.5s infinite linear;
    animation-delay: 0.5s;
  }

  @keyframes dot-pulse-before {
    0% {
      box-shadow: 9984px 0 0 -5px;
    }
    30% {
      box-shadow: 9984px 0 0 2px;
    }
    60%,
    100% {
      box-shadow: 9984px 0 0 -5px;
    }
  }
  @keyframes dot-pulse {
    0% {
      box-shadow: 9999px 0 0 -5px;
    }
    30% {
      box-shadow: 9999px 0 0 2px;
    }
    60%,
    100% {
      box-shadow: 9999px 0 0 -5px;
    }
  }
  @keyframes dot-pulse-after {
    0% {
      box-shadow: 10014px 0 0 -5px;
    }
    30% {
      box-shadow: 10014px 0 0 2px;
    }
    60%,
    100% {
      box-shadow: 10014px 0 0 -5px;
    }
  }
}
