.message-panel {
    width: 304px;
    height: 300px;
    position: absolute;
    top: 70px;
    overflow-y: scroll;

    &.light-mode {
        background-color: 'white';
    }

    &.dark-mode {
        background-color: #262424;
        color: white;
    }

    &::-webkit-scrollbar {
        width: 2px;
        border-radius: 2px;
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
    }
}