.toggle-button-container {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: fixed;
    bottom: 3.9rem;
    right: 3.3rem;
    cursor: pointer;
    z-index: 11112;
    border: none;
    outline: none;

    &.light-mode {
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(36,9,121,1) 0%, rgba(169,0,255,1) 100%);
    }
    
    &.dark-mode {
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(36,9,121,1) 0%, rgba(169,0,255,1) 100%);
        border: 1px solid rgb(192, 188, 188);
    }
}